language: node_js
install: true
script: true
after_success:
- ls -l
- scp -1 "se234.pem" -r html/* ubuntu@18.188.1.74:/var/www/html/
before_install:
- openssl aes-256-cbc -K $encrypted_5a9ddd7b2b74_key -iv $encrypted_5a9ddd7b2b74_iv
  -in se234.pem.enc -out se234.pem -d
- sudo chmod 400 se234.pem
addons:
  ssh_known_hosts:
  - 18.188.1.74